<%= form_for @user do |f| %>
  <div class='login_form'>
    <%= f.text_field :email, placeholder: "Email" %>
    <%= f.password_field :passowrd, placeholder: "Password" %>
    <%= f.password_field :confirmation, placeholder: "Confirmation" %>
    <%= f.submit "Create Account" %>
  </div>
<% end %>
