<%= form_for(@link, url: links_path(@link)) do |f| %>
  <div class='link_form'>
    <%= f.text_field :url, placeholder: "URL" %>
    <%= f.text_field :title, placeholder: "Title" %>
    <%= f.submit "Add Link" %>
  </div>
<% end %>

<div id="filter">
  <input type='text' name='search' id='search' placeholder='Search'>

  <div id="show-read">Show Read</div>
  <div id="show-unread">Show Unread</div>
  <div id="show-all">Show All</div>
  <div id="sort-links">Sort</div>
</div>

<table id="link-table">
  <tr>
    <th>Link</td>
    <th>Read?</td>
    <th>Mark Read</th>
    <th>Mark Unread</th>
    <th>Edit</th>
  </tr>
  <% @links.each do |link|%>
    <tr class="<%= link.read %> link" id="<%= link.id %>">
      <td class="title"><a href="<%= link.url %>"><%= link.title %></a></td>
      <td class="read-status"><%= link.read %></td>
      <td class="read" id="read-<%= link.id %>">Mark as Read</td>
      <td class="unread" id="unread-<%= link.id %>" >Mark as Unread</td>
      <td><%= link_to "Edit", edit_link_path(link.id) %></td>
    </tr>
  <% end %>
</table>
